:root{
    --accent-color: hsl(212, 93%, 39%);
    --base-color: #ffffff;
    --text-color: #01021d;
    --input-color: hsla(212, 93%, 39%, 0.185);
    --hover-color:  #1c59a7;
}


html{
    font-family: Poppins,'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(to left, var(--input-color), var(--base-color));
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--accent-color);
    color: var(--base-color);
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}





.container {
    display: flex;;
    align-items: center;
    justify-content: space-around;
    min-height: 5vh;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}



form{
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
}

form label {
    flex-shrink: 0;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    font-weight: 500;
}

.form-group input[type="number"] {
    box-sizing: border-box;
    min-width: 0;
    height: 50px;
    width: 100%;
    padding: 1em;
    font: inherit;
    border : 2px solid var(--input-color);
    background-color: var(--input-color);
    border-radius: 10px 10px 10px 10px;
    transition: 150ms ease;
}

form input:hover{
    border : 2px solid var(--accent-color);
}

.form-group input[type="number"]:focus {
    outline: none;
    border : 2px solid var(--accent-color);
    transition: 200ms ease;
    background-color: var(--base-color);
}

button[type="submit"] {
    background-color: #1c59a7;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.3s;
}

button[type="submit"]:hover {
    background-color: #174a8c;
    transform: scale(1.05);
}

#result {
    display: none;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    padding: 20px;
    height: 20px;
    width: 50%;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    color: #333;
}

@media (max-width: 768px) {
    form {
        padding: 20px;
        width: 100%;
    }

    nav ul li{
        display: block;
        margin: 10px 0;

    };

    .container {
        padding: 20px;
        padding-right: 20px;

    }

    button[type="submit"] {
        width: 100%;}

        body{
            margin: 0;
            padding: 0;
            }
        
        .container{
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        }
        #result{
            display: none;
            position: fixed;
            position:relative;
            
        }
        
    }
    


.top-left-menu {
    color: var(--base-color);
    position: relative;
    top: 0;
    left: 20px;
    

}

ul.top-right-menu {
    list-style: none;
    position: re;
    top: 44px;
    right: 100px;
    padding: 0;
    margin: 0;
}

ul.top-right-menu li {
    display: inline;
}

ul.top-right-menu a.button {
    display: block;
    position: fixed;
    right:5%;
    top: 3%;
    padding: 10px 20px;
    background-color: hsl(214, 72%, 32%);
    color: var(--base-color);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

ul.top-right-menu a.button:hover {
    background-color: #174a8c;
    transform: scale(1.05);}




input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}